.siteSelector {
	font-size: 24px;
	font-weight: 300;
	font-style: italic;

	position: relative;
	//overflow: hidden;

	margin: 6px 0;

	.select {
		font-size: 75%;

		position: absolute;
		top: 0;
		left: 0;

		width: 103%;
		height: 100%;

		opacity: 0;

		-webkit-appearance: menulist-button;
	}

	.current {
		&._long {
			letter-spacing: -1px;
		}
	}

	.arrow {
		position: absolute;
		right: 3px;
		bottom: 10px;

		width: 12px;
		height: 12px;

		transform: scale(1, .85) rotate(45deg);

		border: solid;
		border-width: 0 1px 1px 0;
	}
}
