@import '../../styles/shared';

.search {
	position: relative;

	height: 28px;

	.icon {
		position: absolute;
		top: 2px;
		left: 2px;

		transition: fill .25s;

		fill: var(--color-text-rgba-2);
	}

	.input {
		font-size: inherit;

		width: 100%;
		height: 28px;
		padding: 0 0 0 28px;

		transition: box-shadow .25s, color .25s;
		letter-spacing: inherit;

		color: var(--color-text-rgba-4);
		border: 0;
		outline: 0;
		background: none;
		box-shadow: 0 2px var(--color-text-rgba-2);

		&::placeholder {
			opacity: 1;
			color: var(--color-text-rgba-1);
		}

		&:focus {
			color: var(--color-text);
			box-shadow: 0 2px var(--color-text-rgba-4);

			& + svg {
				fill: var(--color-text-rgba-4);
			}
		}
	}

	&.postView {
		.icon {
			fill: rgba(255, 255, 255, .2);
		}

		.input {
			color: rgba(255, 255, 255, .4);
			box-shadow: 0 2px rgba(255, 255, 255, .2);

			&::placeholder {
				color: rgba(255, 255, 255, .1);
			}

			&:focus {
				color: rgba(255, 255, 255, .8);

				& + svg {
					fill: rgba(255, 255, 255, .4);
				}
			}
		}
	}
}
