.postInfo {
	margin-top: 20px;

	.title {
		font-size: 27px;
		font-weight: 300;
		font-style: italic;

		text-transform: lowercase;
	}

	ul {
		margin: 0;
		padding: 0;

		list-style-type: none;
	}

	.source {
		overflow: hidden;

		white-space: nowrap;
		text-overflow: ellipsis;
	}

	.time {
		border-bottom: dotted 1px;
	}

	.green {
		color: rgba(133, 255, 139, .6);
	}

	.yellow {
		color: rgba(255, 247, 133, .6);
	}

	.red {
		color: rgba(255, 133, 133, .6);
	}
}
