.posts {
	position: relative;

	display: flex;
	overflow: auto;

	height: 100vh;

	flex-grow: 1;
	flex-wrap: wrap;
	justify-content: space-evenly;

	.post {
		display: flex;

		width: 200px;
		height: 200px;

		align-items: center;
		justify-content: center;
		will-change: transform, opacity;

		.inner {
			line-height: 0;

			position: relative;

			display: inline-block;
			overflow: hidden;

			text-align: center;

			border-radius: 5px;
		}

		.info {
			font-size: 14px;
			font-weight: bold;
			line-height: normal;

			position: relative;

			height: 17px;
			margin: -17px 0 0 0;

			color: rgba(255, 255, 255, .6);
			background: rgba(0, 0, 0, .8);

			span {
				display: inline-block;

				margin: 0 4px;
			}
		}

		.score {
			&:before {
				content: '±';
			}

			&.green {
				color: rgba(133, 255, 139, .6);
				&:before {
					content: '+';
				}
			}

			&.red {
				color: rgba(255, 133, 133, .6);
				&:before {
					content: '-';
				}
			}
		}

		.favs {
			.icon {
				font-size: 12px;

				vertical-align: -1px;
			}
		}

		.rating {
			&.green {
				color: rgba(133, 255, 139, .6);
			}

			&.yellow {
				color: rgba(255, 247, 133, .6);
			}

			&.red {
				color: rgba(255, 133, 133, .6);
			}
		}

		&.-enter {
			transform: translate(0, 15px);

			opacity: 0;
		}

		&.-enter-active {
			transition: all 300ms ease-in;
			transform: translate(0, 0);

			opacity: 1;
		}

		&.-exit {
			transform: translate(0, 0);

			opacity: 1;
		}

		&.-exit-active {
			transition: all 300ms ease-out;
			transform: translate(0, 15px);

			opacity: 0;
		}

		&.flash {
			img {
				display: none;
			}

			.inner {
				width: 150px;
				height: 150px;
				padding-top: 150px;

				background: var(--color-sidebar);

				&:before {
					font-size: 150%;
					font-style: italic;
					line-height: 1;

					position: absolute;
					top: 0;
					right: 0;
					bottom: 17px;
					left: 0;

					height: 1em;
					margin: auto;

					content: 'flash file';
				}
			}
		}
	}

	.noPosts {
		font-size: 3em;
		font-style: italic;

		margin: auto;

		color: var(--color-text-rgba-2);
	}
}
