.tags {
	.type {
		.name {
			font-size: 27px;
			font-weight: 300;
			font-style: italic;

			text-transform: lowercase;
		}
	}

	.tag {
		display: flex;

		div {
			display: inline-block;

			cursor: pointer;

			&.-long {
				letter-spacing: -1px;
			}
		}

		.actions, .actions div {
			margin-right: 4px;

			white-space: nowrap;
		}

		.count {
			font-size: 50%;

			margin-left: 5px;
		}
	}
}
